<data-table id="customer-grid"
            headerTitle="Kunden"
            [items]="items"
            [itemCount]="itemCount"
            [indexColumn]="false"
            (reload)="reloadItems($event)">

  <data-table-column
    [property]="'id'"
    [header]="'ID'"
    [sortable]="true"
    [resizable]="true">
  </data-table-column>
  <data-table-column
    [property]="'lastname'"
    [header]="'Lastname'"
    [sortable]="true">
  </data-table-column>
  <data-table-column
    [property]="'firstname'"
    [header]="'Firstname'"
    [sortable]="true"
    [resizable]="true">
  </data-table-column>
  <data-table-column
    [property]="'street'"
    [header]="'Strasse'"
    [sortable]="true"
    [resizable]="true">
  </data-table-column>
  <data-table-column
    [property]="'housenumber'"
    [header]="'Hausnummer'"
    [sortable]="true"
    [resizable]="true">
  </data-table-column>
  <data-table-column
    [property]="'postcode'"
    [header]="'PLZ'"
    [sortable]="true"
    [resizable]="true">
  </data-table-column>
  <data-table-column
    [property]="'town'"
    [header]="'Stadt'"
    [sortable]="true"
    [resizable]="true">
  </data-table-column>
  <data-table-column
    [property]="'country'"
    [header]="'Land'"
    [sortable]="true"
    [resizable]="true">
  </data-table-column>
  <data-table-column
    [property]="'language'"
    [header]="'Sprache'"
    [sortable]="true"
    [resizable]="true">
  </data-table-column>
</data-table>
