<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid" style="padding-left:100px; padding-right:100px">
        <label class="userlabel">User&ensp;</label>
        <input type="text" id="inputName" [(ngModel)]="user.name" required/>
        <br>
        <label>Pass&ensp;</label>
        <input type="password" id="inputPass" [(ngModel)]="user.pass" required/>
        <br>
        <br>
        <button (click)="login()" class="btn btn-primary" id="okButton">Ok</button>
  </div>
  <div *ngIf="error">Error</div>
  <app-messages></app-messages>
</div>

