<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid" style="padding-left:100px; padding-right:100px">
        <label class="userlabel">User&ensp;</label>
        <input type="text" id="inputName" [(ngModel)]="user.name" required/>
        <br>
        <label>Pass&ensp;</label>
        <input type="password" id="inputPass" [(ngModel)]="user.pass" required/>
        <br>
        <br>
        <button (click)="login()" class="btn btn-primary" id="okButton">Ok</button>
  </div>
</div>
<div *ngIf="error">Error</div>
<app-messages></app-messages>


<!--<div>
   &lt;!&ndash;  <h2>Login</h2>
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="username">Username</label>
            <input type="text" name="username" [(ngModel)]="user.name" #username="ngModel" required />
            <div *ngIf="f.submitted && !username.valid" >Username is required</div>
        </div>
        <div [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Password</label>
            <input type="password" name="password" [(ngModel)]="user.pass" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" >Password is required</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" >Login</button>
        </div>
    </form> &ndash;&gt;
  </div>-->

